SSB_TELEGRAM_BOT_TOKEN=8201476584:AAF96NZ9VVMiy-VZpy0bqKNP-1RASFSlyvE
SSB_DATABASE_URL=sqlite+aiosqlite:///./data/sleep_support_bot.db
SSB_APP_TIMEZONE=Europe/Moscow
SSB_LOG_LEVEL=INFO
SSB_ALARM_REPEAT_INTERVAL_SECONDS=60
SSB_MAX_ALARM_REPEAT_ATTEMPTS=3
SSB_ALARM_CODE_LENGTH=4
SSB_DEFAULT_LANGUAGE=ru
SSB_DEFAULT_TIME_FORMAT=24h
